*  {
    box-sizing: border-box;
    }

body {
    background-image: url("../images/gym-background.png");
    background-repeat: no-repeat;
    background-size:960px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Fira Mono', monospace;
}
.navbar {
    border: solid rgb(78, 77, 77) 2px;
    color: white;
    font-size: 25px;
}
.btn {
    color:#8C864D;
}
/* changes the color of the new ratings of gifs loaded so that they are visible */
p {
    color:#8C864D;
}